/* Hide scrollbars for the whole page */
body {
  overflow: hidden; /* prevents scrollbars */
}

.right {
  box-sizing: border-box; /* ensures padding/borders don't break size */
}
tr{
  width: 100%;
}
.right {
  width: 30%;
  height: 100%;
  padding: 40px;
  background: rgba(30, 20, 2, 0.7);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  font-family: "Times New Roman", serif; /* set font */
  font-weight: bold; /* make all text bold */
  
  /* New for smooth pop-out */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.alig{
  display: flex;
  align-items: center;
  width: 100%;
}
/* Pop-out effect on hover */
.right:hover {
  
  box-shadow: 0 20px 60px rgba(0,0,0,0.9); /* bigger, darker shadow */
}

button {
  width: 100%;
  padding: 12px;
  background: #1a73e8;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;

  /* smooth animation */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

/* Hover effect */
button:hover {
  background: rgb(59, 39, 2) !important;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

button:active {
  transform: scale(0.97);
}

@media (max-width: 768px) {

  body {
    justify-content: center; /* center form */
    align-items: center;
  }

  .right {
    width: 90%; /* take most of screen */
    height: auto; /* no full height */
    padding: 20px;
    border-radius: 12px; /* normal corners */
  }
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  input, button {
    font-size: 16px; /* better for touch */
  }
}
.input-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Input typing line */
.input-column input {
  width: 50%;
  padding: 2px 0;
  border: none;
  border-bottom: 1px solid gray; /* underline */
  background: transparent;
  color: white;
  font-size: 5px;
  outline: none;
}
.input-group {
  position: relative;
  
  flex: 1; 
}
.bg {
  position: fixed;
  
  
  width: 101%;
  height: 101%;
  background: url("lib.jpeg") no-repeat center center/cover;
  filter: blur(03px) brightness(1); /* blur + dark overlay */
  z-index: -1;
}

/* bech yodhher ligne ta7t email w mdp mch bloc keml*/
.input-group input {
  width: 100%;
  padding: 1% 0;
  border: none;
  background: transparent;
  color: gray;
  font-size: 16px;
  outline: none;
}

.input-group::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 105%;
  height: 1px;          /* épaisseur de la ligne */
  background: transparent;     /* couleur de la ligne */
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  min-height: 3px; /* reserve space so input never moves */
  display: block;
}
